* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}

.converter {
  height: 100vh;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.converter-container {
  display: flex;
  flex-direction: column;
  max-width: 150px;
  align-items: center;
  gap: 5px;
}

.hex-input {
  width: 100%;
  padding: 10px;
}

.rgb-result {
  width: 100%;
  padding: 10px;
  color: white;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
}