* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
}

.converter {
  height: 100vh;
}

.converter-container {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 30%;
  gap: 10px;
}

.rgb-result {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}